**/.vs/**
**/Debug/**
**/Release/**
**/.idea/**
**/cmake-build-debug/**
**/cmake-build-release/**
CMakeLists.txt
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe
*.ilk
*.pdb
*.obj
*.iobj
*.ipdb
*.log
*.tlog/
*.pch
*.idb